.wrapper{
    position: relative;
    width: 1440px;
    height: 1839px;
    
    background: url(img2.jpg);
}

.cima{
    position: absolute;
    width: 1440px;
    height: 111px;
    left: 0px;
    top: 0px;

    background: #C5A535;
}

.titulo{
    position: absolute;
    width: 498px;
    height: 100px;
    left: 498px;
    top: 03px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.27);
}

.logo{
    position: absolute;
    width: 107px;
    height: 111px;
    left: 18px;
    top: 0px;

    background: url(ods2.png);
}

.ellipse{
    position: absolute;
    width: 53px;
    height: 53px;
    left: 1293px;
    top: 24px;
    border-radius: 100%;
    background: #FFE296;
    }

.ellipse1{
    position: absolute;
    width: 53px;
    height: 53px;
    left: 1359px;
    top: 24px;
    border-radius: 100%;
    background: #FED15C;
}

.quadrado1{
    position: absolute;
    width: 974px;
    height: 207px;
    left: 224px;
    top: 142px;

    background: #00000094;
    border-radius: 27px;
}

.ods2{
    
position: absolute;
width: 641px;
height: 179px;
left: 154px;
top: 05px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FFFFFF;
}

.ods2-1{
    
    position: absolute;
    width: 641px;
    height: 179px;
    left: 374px;
    top: 190px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #FFFFFF;
    }

.quadrado2{
    position: absolute;
width: 594px;
height: 663px;
left: 89px;
top: 386px;

background: #000000cc;
border-radius: 27px;
}

.introdução{
    position: absolute;
width: 511px;
height: 627px;
left: 62px;
top: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 28px;

color: #FFFFFF;
}

#IframePosicao { 
    position: absolute; 
    overflow:auto; 
    top: 525px;
    left: 73%; 
    z-index: 5; 
    margin-top: -155px; 
    margin-left: -200px; 
} 

.linha1{
    position: absolute;
    width: 554px;
    height: 0px;
    left: 845px;
    top: 641px;

    border: 3px solid #AB8D21;
    transform: rotate(-0.12deg);
    }

.linha2{
    position: absolute;
    width: 554px;
    height: 0px;
    left: 845px;
    top: 932px;

    border: 3px solid #AB8D21;
    transform: rotate(0.12deg);
}

.img1{
    position: absolute;
    width: 230px;
    height: 150px;
    left: 838px;
    top: 695px;
    
    background: url(on.png);
    border-radius: 23px;
}

.img2{
    position: absolute;
    width: 172px;
    height: 153px;
    left: 1125px;
    top: 695px;
    
    background: url(ds.jpg);
}

.quadrado3{
    position: absolute;
    width: 594px;
    height: 481px;
    left: 89px;
    top: 1072px;
    
    background: #000000cc;
    border-radius: 27px;
}

.metas{
    position: absolute;
    width: 504px;
    height: 471px;
    left: 61px;
    top: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}
.metas1{
    position: absolute;
    width: 504px;
    height: 471px;
    left: 61px;
    top: 72px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}

.quadrado4{
    position: absolute;
    width: 600px;
    height: 400px;
    left: 835px;
    top: 1165px;
    
    background: rgba(0, 0, 0, 0.8);
    border-radius: 27px;
}

.indice{
    position: absolute;
    width: 578px;
    height: 508px;
    left: 10px;
    top: -2px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    
    color: #FFFFFF;
}

.indice1{
    position: absolute;
    width: 578px;
    height: 508px;
    left: 15px;
    top: 35px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    
    color: #FFFFFF;
}

.img3{
    position: absolute;
    width: 373px;
    height: 176px;
    left: 900px;
    top: 950px;

    background: url(ind.jpg);
    border-radius: 20px;
}

.rodape{
    position: absolute;
    width: 1440px;
    height: 254px;
    left: 8px;
    top: 1596px;
    
    background: #C5A535;
}

.mais{
    position: absolute;
    width: 235px;
    height: 39px;
    left: 900px;
    top: -25px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 39px;
    
    color: #000000;
}

.link{
    position: absolute;
    width: 360px;
    height: 31px;
    left: 935px;
    top: 1660px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 29px;
    
    color: #000000;
}

.qrcode{
    position: absolute;
width: 159px;
height: 158px;
left: 1155px;
top: 5px;

background: url(qrcode_www.trt7.jus.br);
}

.insta{
    position: absolute;
width: 90px;
height: 90px;
left: 18px;
top: 1619px;
}

.insta1{
    position: absolute;
width: 90px;
height: 90px;
left: 224px;
top: 1619px;

}

.nomes{
    position: absolute;
    width: 624px;
    height: 66px;
    left: 10px;
    top: 1799px;
}

.letras{
    position: absolute;
width: 499px;
height: 39px;
top: -20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;


display: flex;
align-items: flex-end;

color: #000000;

}